<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="home">
        <div class="heading">
        <h2>Our Story</h2>
        <hr>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi impedit, placeat repellendus cum dicta facere sunt expedita perferendis fuga rem numquam facilis dolor reiciendis tempora debitis quis, illo, exercitationem ex.</p>
        </div>
    </div>
    <br>
    <hr>
    <div class="home">
        <div class="content">
            <div class="showcase">
                <div class="image">
                    <img src="https://image.shutterstock.com/image-photo/raw-dough-pizza-ingredients-spices-600w-526830277.jpg" alt="Pizzer">
                </div>
                <div class="content">
                    <div class="heading">Our Ingredients</div>
                    <div class="para">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veritatis ex consequuntur temporibus accusantium consectetur asperiores ullam voluptas aspernatur minima, earum molestias eaque ducimus perferendis illo magni? Consectetur, dolores temporibus!
                    </div>
                </div>
            </div>
            <div class="showcase">
                <div class="content">
                    <div class="heading">Our Chefs</div>
                    <div class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio aut ipsam veniam possimus officiis dolores, distinctio alias debitis impedit ipsa doloribus animi quae culpa id, deserunt, nisi perspiciatis officia!
                    </div>
                </div>
                <div class="image">
                    <img src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg" alt="Pizzer">
                </div>
            </div>
            <div class="showcase">
                <div class="image">
                    <img src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg" alt="Pizzer">
                </div>
                <div class="content">
                    <div class="heading">Faster Delivery</div>
                    <div class="para">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ea praesentium veniam debitis blanditiis animi nisi corporis, commodi quod unde et quos voluptatibus accusamus dolorem alias earum id doloribus velit!
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</body>
</html>