  <!-- <div *ngIf="isError; else orderPizza" style = "display: flex; justify-content: center;">
    <img src="../../assets/oops-something-went-wrong-large.png" alt="something went wrong">
  </div>
  <ng-template #orderPizza>
    <div class="container-fluid" style="margin-top:30px; padding-bottom: 200px;">
      <div class="row justify-content-center">
        <div class="block-main col-xs-12 col-sm-6 col-md-4 flex-wrap flex-xl-nowrap" *ngFor="let pizza of pizzas">
          <div class="block-main1 order-2 order-xl-1">
            <div class="name" [id]="pizza.name" #name>{{pizza.name}}</div><br>
            <div class="type">
              <div class='box green' *ngIf="pizza.type=='veg' else elsecondition"></div>
              <ng-template #elsecondition>
                <div class='box red'></div>
              </ng-template>
            </div><br>
            <div class="price" [id]="pizza.price" #price><b>{{pizza.price | currency:'INR'}}</b></div>
          </div>
          <div class="block-main1 order-3 order-xl-2">
            <div class="description" [id]="pizza.description" #description align="justify">{{pizza.description}}</div><br>
            <div class="ingredients" [id]="pizza._id" #ingredients align="justify"><b>Ingredients :
              </b>{{pizza.ingredients}}</div><br>
            <div class="topping"><b align="justify">Toppings : </b>{{pizza.topping}}</div>
          </div>
          <div class="block-main1 order-1 order-xl-3">
            <div class="image" [id]="pizza.image" #image>
              <img src="{{pizza.image}}" height="120px" width="120px">
            </div>
            <div class="addtocart"><button type="button" class="btn btn-warning" *ngIf="pizzaCheck==false;else show"
                (click)="addToCart(ingredients.id,name.id,price.id,description.id,image.id);">Add to Cart</button>
                <ng-template #show>
                  <button type="submit" [disabled]="true">Add to Cart</button>
                </ng-template>
              
              </div>
                
            </div>
        </div>
      </div>
    </div>  
  </ng-template> -->

<div *ngIf="isError; else orderPizza" style = "display: flex; justify-content: center;">
    <img src="../../assets/oops-something-went-wrong-large.png" alt="something went wrong">
  </div>
  <ng-template #orderPizza>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4  row-cols-xxl-6 g-6">
  <div class="col" *ngFor="let pizza of pizzas; let i = index">
    <div class="card h-100">
      <img src="{{ pizza.image }}" class="card-img-top img-fixed" alt="...">
      <div class="card-body d-flex flex-column" #body>
        <div class="d-flex flex-wrap justify-content-between card-title p-2" [ngClass]="pizza.type=='veg' ? 'bg-success' : 'bg-danger'" style="min-height: 60px;">
          <h5>{{ pizza.name }}</h5>
          <h6>{{ pizza.price | currency:'INR'}}</h6>
        </div>
        <div class="card-text d-flex flex-column">
          <div class="description"  #description>{{pizza.description}}</div>
            <div class="row flex-grow-1" #ingredients>
              <div class="col-4 ">
                <b>Ingredients :</b>
              </div>
              <div class="col-8"> {{pizza.ingredients}} </div>
              
            </div>
            <div class="row flex-grow-1">
              <div class="col-4">
                <b>Toppings :</b>
              </div>
              <div class="col-8"> {{pizza.topping}} </div>
            </div>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
  </ng-template>