<div class="row">
    <div class="col-xs-12">
        <h2 class="heading">Our Story</h2>
        <hr>
        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nam perferendis ea vel totam ullam, recusandae, laboriosam sint temporibus expedita sit? Magni architecto cumque autem dolor quas, amet consequuntur. Voluptates!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius eveniet unde fuga vitae voluptate esse? Ipsa quos, ab itaque numquam perferendis vel accusamus, quibusdam natus ut corporis laborum, ex voluptatibus!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur animi ad ducimus velit, natus reprehenderit doloremque excepturi consequatur optio molestias harum nihil voluptatem ipsam et assumenda sint voluptatum facere dolor?
        </p>
    </div>
    <hr>
    <div class="col-xs-12 d-flex flex-wrap">
        <div class="row block d-flex flex-wrap">
        <div class="col-xs-12 col-md-6 order-2 order-md-1">
            <img src="https://image.shutterstock.com/image-photo/raw-dough-pizza-ingredients-spices-600w-526830277.jpg"
            alt="Pizzer">
        </div>
        <div class="col-xs-12 col-md-6 order-1 order-md-2">
            <h4 class="heading">Our Ingredients</h4>
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, qui architecto. Consequatur repellendus asperiores labore velit qui minus illum reiciendis fugiat maiores quasi assumenda vero laudantium, quisquam blanditiis odio consectetur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus est tempora ipsa magnam optio a nam iste iure nisi at quae eos eligendi dolor autem explicabo, provident totam doloribus ullam.
            </p>
        </div>
        <div class="d-sm-none col-xs-12">
            <hr>
        </div>
    </div>
    <div class=" row block  d-flex flex-wrap">
        <div class="col-xs-12 col-md-6">
            <h4 class="heading">Our Chefs</h4>
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, qui architecto. Consequatur repellendus asperiores labore velit qui minus illum reiciendis fugiat maiores quasi assumenda vero laudantium, quisquam blanditiis odio consectetur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus est tempora ipsa magnam optio a nam iste iure nisi at quae eos eligendi dolor autem explicabo, provident totam doloribus ullam.
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg" alt="Pizzer">
        </div>
        <div class="d-sm-none col-xs-12">
            <hr>
        </div>
    </div>
    <div class="row block d-flex flex-wrap">
        <div class="col-xs-12 col-md-6 order-2 order-md-1">
            <img src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg"
            alt="Pizzer">
        </div>
        <div class="col-xs-12 col-md-6  order-1 order-md-2">
            <h4 class="heading">Faster Delivery</h4>
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, qui architecto. Consequatur repellendus asperiores labore velit qui minus illum reiciendis fugiat maiores quasi assumenda vero laudantium, quisquam blanditiis odio consectetur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus est tempora ipsa magnam optio a nam iste iure nisi at quae eos eligendi dolor autem explicabo, provident totam doloribus ullam.
            </p>
        </div>
    </div>

    </div>
</div>



<!-- <div class="home">
    <div class="heading">
        <h2>Our Story</h2>
        <hr>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi impedit, placeat repellendus cum dicta
            facere sunt expedita perferendis fuga rem numquam facilis dolor reiciendis tempora debitis quis, illo,
            exercitationem ex.</p>
    </div>
<br>
<hr>
    <div class="content">
        <div class="showcase">
            <div class="image">
                <img src="https://image.shutterstock.com/image-photo/raw-dough-pizza-ingredients-spices-600w-526830277.jpg"
                    alt="Pizzer">
            </div>
            <div class="content">
                <div class="heading">Our Ingredients</div>
                <div class="para">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veritatis ex consequuntur
                    temporibus accusantium consectetur asperiores ullam voluptas aspernatur minima, earum molestias
                    eaque ducimus perferendis illo magni? Consectetur, dolores temporibus!
                </div>
            </div>
        </div>
        <div class="showcase">
            <div class="content">
                <div class="heading">Our Chefs</div>
                <div class="para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio aut ipsam veniam possimus
                    officiis dolores, distinctio alias debitis impedit ipsa doloribus animi quae culpa id, deserunt,
                    nisi perspiciatis officia!
                </div>
            </div>
            <div class="image">
                <img src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg" alt="Pizzer">
            </div>
        </div>
        <div class="showcase">
            <div class="image">
                <img src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg"
                    alt="Pizzer">
            </div>
            <div class="content">
                <div class="heading">Faster Delivery</div>
                <div class="para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ea praesentium veniam debitis
                    blanditiis animi nisi corporis, commodi quod unde et quos voluptatibus accusamus dolorem alias earum
                    id doloribus velit!
                </div>
            </div>
        </div>
    </div>


</div> -->